.app-widgets-avatar {
	@radius: 2px;
	position: relative;
	line-height: normal;
	display: inline-block;
	border-radius: @radius;

	&.online-show {
		.icon-online-new, .icon-online-new-small {
			display: block !important;
			position: absolute;
		}
		.icon-online-new {
			bottom: 2px;
			right: 2px;
		}
		.icon-online-new-small {
			bottom: 0;
			right: 0;
		}
	}
	&.offline-show {
		.was-online-at {
			display: block !important;
			position: absolute;
			bottom: 0;
			width: 100%;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			text-align: center;
			color: #fff;
			font-size: 10px;
			font-style: italic;
			font-weight: bold;
			padding: 2px;
			border-bottom-left-radius: @radius;
			border-bottom-right-radius: @radius;
			.str-truncate;
		}
	}
	img {
		border-radius: @radius;
		&.is_gray {
			opacity: 0.5;
			-ms-filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
	}
	.was-online-at {
		display: none;
	}
	.now-online {
		display: none;
	}
}