.app-widgets-fullname {
	i {
		margin-left: 8px;
		&.icon-award-prime {
			position: relative;
			bottom: 0;
		}
		&.icon-verified-small {
			position: relative;
		}
		&.fa-angle-double-right {
			position: relative;
			bottom: -1px;
			font-size: 19px;
			color: #000;
		}
		&.fa-star {
			position: relative;
			font-size: 12px;
			color: #cc0000;
			bottom: 1px;
		}
		&.icon-medal {
			margin-left: 0;
		}
	}
}