/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/

.flexslider {
	position: relative;
	zoom: 1;

	.slides {

		zoom: 1;

		img {
			height: auto;
		}
	}
}

.flex-viewport {

	max-height: @flex-viewport-max-height;

	.transition();

	.loading & {

		max-height: @flex-viewport-loading-max-height;

	}
}

.carousel li {

	margin-right: 5px;

}