.forum-post-create{    
    padding: 20px 25px;

    .forum-post-create-row{
        margin-bottom: 10px;

        .forum-post-create-row-label{
            width: 100px; float: left;
        }
        .forum-post-create-row-field{
            margin-left:110px;

            .forum-post-field-title{
                width:100%;
            }
            .forum-post-field-body{
                width:100%;
                height:300px;
            }
        }
    }
    .forum-post-create-buttons{
        text-align:right;
    }
}

.forum-post-index{
    margin: 20px 0;
    
    .forum-post-index-header{

        .forum-post-index-header-title{
            text-align:left; float:left; width: 75%;
        }
        .forum-post-index-header-button{
            text-align:right; float:left; width:25%;
        }
    }

    .forum-post-index-list{

        .forum-post-index-list-view{
            margin:0 0 10px 0;

            .forum-post-index-list-view-link{
                display:block; color:inherit;

                &:hover {
                    text-decoration:none;
                    
                    .forum-post-index-list-view-right{
                        background: #eee;
                    }
                }    

                .forum-post-index-list-view-left{
                    width: 100px; float: left; margin: 0 10px 0 0;
                }
                
                .forum-post-index-list-view-right{
                    border: 1px solid #eee; padding: 20px 25px; border-radius: 10px; margin-left:110px;

                    .forum-post-index-list-view-link-content{
                        height: 60px;

                        .forum-post-index-list-view-link-content-right{
                            float:right; width:150px;

                            .forum-post-index-list-view-link-content-right-counters{

                                .forum-post-index-list-view-link-content-right-counters-views{
                                    float:left;width:50%;text-align:center;
                                    
                                    span{
                                        font-size:18px;
                                    }
                                }
                                .forum-post-index-list-view-link-content-right-counters-comments{
                                    float:right;width:50%; text-align:center;
                                    &.have-unread-comment{
                                        color:#c44512;
                                        font-weight:bold;
                                    }

                                    span{
                                        font-size:18px;
                                    }
                                }
                            }
                            .forum-post-index-list-view-link-content-right-last-commented{
                                color: #ccc;
                                text-align:center;
                                font-style:italyc;
                            }

                        }
                        .forum-post-index-list-view-link-content-left{
                            margin-right:160px;

                            .forum-post-index-list-view-link-content-left-firstrow{
                                overflow: hidden;
                                height: 21px;
                                white-space: nowrap;
                                text-overflow: ellipsis;

                                .forum-post-index-list-view-link-content-left-firstrow-title{
                                    font-size:15px; color:blue;
                                    margin-right:5px;
                                }
                                .forum-post-index-list-view-link-content-left-firstrow-username{
                                    color:#bbb; font-size:13px; font-style:italyc;
                                    margin-right:5px;
                                }
                                .forum-post-index-list-view-link-content-left-firstrow-date{
                                    color:#bbb; 
                                }
                            }
                            .forum-post-index-list-view-link-content-left-body{
                                overflow: hidden;
                                height: 21px;
                                margin: 10px 0 0 0;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }
    }   
}

.forum-post-view{

    .forum-post-view-header{
        margin:10px 0;

        .forum-post-view-header-backlink{
            width:100px; float:left; margin-right:10px;
            a{
                color:black; font-weight:bold;
            }
        }
        .forum-post-view-header-title{
            color:#c44512; floaft:left;

            h1{
                font-size: 20px;
            }
        }
    }
    .forum-post-view-list{

        .forum-post-view-list-view{
            margin-bottom:20px;

            .forum-post-view-list-view-left{
                float:left; width: 100px; margin-right:10px;

                .forum-post-view-list-view-left-counter{
                    font-weight:bold;
                }
            }
            .forum-post-view-list-view-right{
                background: #fff;
                border-radius: 5px;
                margin-left: 110px;
                border: 1px solid #dcdcdc;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,0.06);
                padding: 20px 25px;
                position: relative;

                .forum-post-view-list-view-right-username{
                    color:#c44512; font-weight:bold;
                }
                .forum-post-view-list-view-right-body{
                    margin:20px 0;
                }
                .forum-post-view-list-view-right-footer{
                    position:relative;

                    .forum-post-view-list-view-right-footer-right{
                        float:right; color:#c44512;
                        position:relative;
                        padding: 3px 10px;

                        &:hover{
                            background: #eee;
                            border-radius: 5px;
                            cursor:pointer;

                            &.disabled{
                                cursor:not-allowed;
                            }

                            .forum-post-view-like-label{
                                display:inline-block;
                            }

                            +.forum-post-view-like-popover{
                                display:block;
                            }
                        }

                        .forum-post-view-like-label{
                            display:none;
                        }
                    }
                    .forum-post-view-like-popover{
                        display:none;
                        position: absolute;
                        right: 90px;
                        top: -30px;

                        background: #ccc;
                        border-radius:10px;
                        
                        min-width: 250px;
                        min-height: 90px;
                        max-width:350px;
                        z-index: 99;

                        .arrow{
                            position: absolute;
                            display: block;
                            width: 0;
                            height: 0;
                            border-color: transparent;
                            border-style: solid;
                            border-width: 11px;
                            top: 50%;
                            right: -11px;
                            margin-top: -11px;
                            border-right-width: 0;
                            border-left-color: #999;
                            border-left-color: rgba(0,0,0,.25);

                            &:after{
                                right: 1px;
                                bottom: -10px;
                                content: " ";
                                border-right-width: 0;
                                border-left-color: #fff;
                                content: "";
                                border-width: 10px;
                                position: absolute;
                                display: block;
                                width: 0;
                                height: 0;
                                border-color: transparent;
                                border-style: solid;
                            }
                        }

                        .forum-post-view-like-popover-header{
                            background:#bbb;
                            padding: 5px 10px;
                            border-radius: 10px 10px 0 0;
                        }

                        .forum-post-view-like-popover-content{
                            padding: 5px 10px;

                            .forum-post-view-like-popover-content-item{
                                float:left; 
                                margin: 0 5px 5px 0;
                            }
                        }
                    }
                    .forum-post-view-list-view-right-footer-left{
                        margin-right:30px;

                        .forum-post-view-list-view-right-footer-left-date{
                            font-size:12px;
                            color:#aaa;
                            margin-right:15px;
                        }
                    }

                    .forum-post-view-like-form{
                        display:none;
                    }
                }
            }
        }
    }
    .forum-post-view-form{

        .forum-post-view-form-left{
            float:left; 
            width:100px; 
            margin-right:10px;
        }
        .forum-post-view-form-right{
            background: #fff;
            border-radius: 5px;
            border: 1px solid #dcdcdc;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.06);
            padding: 20px 25px;
            position: relative;
            margin-left: 110px;

            .forum-comment-body{
                width:100%; 
                height:100px;
            }
            .forum-post-view-form-right-submit-button-container{
                text-align:right;
            }
        }
    }
}