.app-widget-simple-drop {
	position: relative;
	display: inline-block;
	.e-backdrop {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 990;
	}
	ul, li {
		margin: 0;
		padding: 0;
	}
	&.m-open {
		.b-dropmenu {
			display: block;
		}
	}
	.e-lbl {
		color: @blue;
		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
		.fa {
			margin-left: 4px;
		}
	}

	.b-dropmenu {
		display: none;
		border: 1px solid grey;
		z-index: 1000;
		position: absolute;
		min-width: inherit;
		background: #fff;
		padding: 5px 0;
		margin: 2px 0 0;
		border: 1px solid #ccc;
		border-radius: 2px;
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
		background-clip: padding-box;

		li {
			list-style: none;
			white-space: nowrap;
			padding: 6px 12px;
			font-size: 11px;
			color: #000;
			.hover-mixin(false);
		}

		&.m-right {
			left: auto;
			right: 0;
		}
	}
}